<div class="row"> 
  <div class="small-12 columns">
    <h1>
      Step 2: Select some habits you'd like to break
    </h1>
    <h2>
      You can easily add new habits at any time.
    </h2>
    <%= form_for(@habit, :url => wizard_path, :method => :put) do |f| %>
      <% if @habit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

          <ul>
          <% @habit.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <p>
        Select from a few of the most popular negative habits to track.
        <br />
        (titles can be changed later if they aren't quite right) 
      </p>
      <div class="field">

        <%= check_box_tag 'habit[wizard_titles][]', 'Caffeine' %>
        <label>Caffeine</label>
        <br />

        <%= check_box_tag 'habit[wizard_titles][]', 'Smoke' %>
        <label>Smoke</label>
        <br />

        <%= check_box_tag 'habit[wizard_titles][]', 'Alcohol' %>
        <label>Alcohol</label>
        <br />

        <%= check_box_tag 'habit[wizard_titles][]', 'Eat Out' %>
        <label>Eat Out</label>
        <br />

      </div>

      <br/>

      <div class="actions">
        <%= f.submit "Save", class: "button round" %>
      </div>

      <br />

    <% end %>

    <p>
      Feel free to skip this step if none of these habits interest you.
    </p>


    <%= link_to 'Skip Step', next_wizard_path, class: "button round" %>
  </div>
</div>
