<div class="row"> 
  <div class="small-12 columns">
    <h2><%= link_to "Previous Week ", activities_path(:end_date => @end_date_for_previous_link) %></h2>
    <% if @end_date_for_next_link %>
      <h2><%= link_to "Next Week ", activities_path(:end_date => @end_date_for_next_link) %></h2>
    <% end %>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <% @dates_headers.each do |date_header| %>
            <th> <%= date_header.html_safe %> </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @activities.each do |activity| %>
          <tr>
            <td><%= link_to activity.title, edit_activity_path(activity) %></td>
            <% @dates.each do |date| %>
              <td>
                <br />
                <div class="add_mark" data-id="<%=activity.id %>" data-date="<%= date %>">
                Add Mark

                </div>
                <div class="destroy_mark" data-id="<%=activity.id %>" data-date="<%= date %>">
                  Remove Mark
                </div>
                <div class="count">
                  <%= activity.marks_on_date(date) %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <p>
    <%= link_to 'Add an Activity', new_activity_path %>
    </p>

    <div class="show-for-small-only">
      This text is shown only on a small screen.
      Need to figure out how to take advantage of this to display diff links and just two days
    </div> 
    <div class="show-for-medium-up">
      This text is shown on medium screens and up. This will basically be the same as what is already on the page.
    </div>  

  </div>
</div>
