<div class="row"> 
  <div class="small-12 columns">
    <h2><%= link_to "Previous Week ", activities_path(:start_date => @start_date_for_previous_link) %></h2>
    <% if @start_date_for_next_link %>
      <h2><%= link_to "Next Week ", activities_path(:start_date => @start_date_for_next_link) %></h2>
    <% end %>



    <div class="show-for-small-only">
      <dl class="accordion" data-accordion>

        <% active = "active" %>
        <% @date_range.days.reverse.each do |day| %>
          <dd>
            <% unless day.in_the_future? %>
              <a href="#panel<%=day.date.amjd.to_i%>"><%= "#{day.day_of_week}, #{day.date}" %></a>
              <div id="panel<%=day.date.amjd.to_i%>" class="content <%= active %>">
                <% @activities.each do |activity| %>

                  <div class="row">
                    <div class="small-6 large-4 columns">
                      <div  class="<%=activity.polarity_class %>">
                        <%= link_to activity.title, activity %>
                      </div>
                    </div>
                    <div class="small-2 large-4 columns">
                      <div style=" " class="add_mark" data-id="<%=activity.id %>" data-date="<%= day.date %>">
                        <i class="general fi-plus">
                        </i>

                      </div>
                    </div>
                    <div class="small-2 large-2 columns">
                      <div class="count <%=activity.polarity_class %>-count" id="<%="#{activity.id}#{day.date}"%>"> 
                        <%= activity.marks_on_date(day.date) %>
                      </div>
                    </div>
                    <div class="small-2 large-2 columns">
                      <div style="" class="destroy_mark" data-id="<%=activity.id %>" data-date="<%= day.date %>">
                        <i class="general fi-minus">
                        </i>
                      </div>
                    </div>
                  </div>


                <% end %>
              </div>
            <% end %>
          </dd>
          <% active = "" %>
        <% end %>


      </dl>

    </div> 
    <div class="show-for-medium-up">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <% @date_range.days.each do |day| %>
              <th> 
                <%= day.day_of_week %>
                <br />
                <%= day.date.to_date %>
              </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td > 
                <div  class="<%=activity.polarity_class %>">
                  <%= link_to activity.title, activity %>
                </div>
              </td>
              <% @date_range.days.each do |day| %>
                <td>
                
                  <% unless day.in_the_future? %>
                    <br />
                    <div style="float:left; width:32px; " class="add_mark" data-id="<%=activity.id %>" data-date="<%= day.date %>">
                      <i class="general fi-plus">
                      </i>

                    </div>
                    <div style="float:right; " class="destroy_mark" data-id="<%=activity.id %>" data-date="<%= day.date %>">
                      <i class="general fi-minus">
                      </i>
                    </div>
                    <div class="count <%=activity.polarity_class %>-count" id="<%="#{activity.id}#{day.date}"%>"> 
                      <%= activity.marks_on_date(day.date) %>
                    </div>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th>Title</th>
            <% @date_range.days.each do |day| %>
              <th> <%= day.date.to_date %> </th>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>  

    <br>

    <p>
    <%= link_to 'Add a Habit', new_activity_path %>
    </p>
  </div>
</div>
