<div class="row"> 
  <div class="small-12 columns">
    <p>
    <strong>Title:</strong>
    <%= @activity.title %>
    </p>

    <p>
    <strong>Polarity:</strong>
    <%= @activity.polarity_class.capitalize %>
    </p>

    <p>
    <%= link_to 'Add a Habit', new_activity_path %>
    </p>

    <%= link_to 'Edit', edit_activity_path(@activity) %> |
    <%= link_to 'Habits', activities_path %> | 
    <%= link_to 'Delete', @activity, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
