<%= form_for(@habit) do |f| %>
  <% if @habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
      <% @habit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <label>This habit is: </label><br>
    <%= f.radio_button :polarity, Habit::NEUTRAL  %> 
    <label>Neutral</label>
    <%= f.radio_button :polarity, Habit::POSITIVE %>
    <label>+ Positive</label>
    <%= f.radio_button :polarity, Habit::NEGATIVE %>
    <label>- Negative</label>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <span data-tooltip class="has-tip" title="The default is 'mark' and you would use that for indicating you did something on a day, such as drank coffee or exercised. The other options let you track things like riding your bike for 10.5 miles or running for 30 minutes. You can also track your weight over time. Specifying these alternate measurements will allow us to create some interesting graphs for you once you've entered some data.">Measurement</span>


    <%= select("extra", "measurement_type", MeasuredHabit.measurement_options,  {include_blank: true}) %>

  </div>
  <br/>

  <div class="actions">
    <%= f.submit "Save", class: "button round" %>
    <%= link_to "Cancel", "/", class: "button round" %>
  </div>

  <br />

<% end %>
