<div class="row"> 
  <div class="small-12 columns">
    <p>
    <strong>Title:</strong>
    <%= @habit.title %>
    </p>

    <p>
    <strong>Polarity:</strong>
    <%= @habit.polarity_class.capitalize %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= @habit.description %>
    </p>

    <p>
    <%= link_to 'Add a Habit', new_habit_path %>
    </p>

    <%= link_to 'Edit', edit_habit_path(@habit) %> |
    <%= link_to 'Habits', habits_path %> | 
    <%= link_to 'Delete', @habit, method: :delete, data: { confirm: 'Are you sure?' } %>


    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>

    <div id="habits">
      <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @marks_by_date[date] %>
          <ul class="<%=@habit.polarity_class %>" >
            <li>
              <%= @marks_by_date[date].count %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
