<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Habitabs - Start good habits. Break bad habits. Track progress. </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav data-topbar="" class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
    <h1>
      <a href="/">
        Habitabs 
      </a>
    </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>


  <section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
  <% if user_signed_in? %>
    <li class="divider"></li>
    <li>
    <%= link_to "Profile", edit_user_registration_path %>
    </li>
      <li class="divider"></li>
      <li><%= link_to "Settings", '#' %></li>
      <li class="divider"></li>
      <li>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      </li>
  <% else %>
    <li class="divider"></li>
    <li>
      <% link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
    </li>
    <li class="divider"></li>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
  </section></nav>



  <div id="container">
  <p class="notice"><%= notice %></p> 
  <p class="alert"><%= alert %></p>

<%= yield %>
  </div>
<div class="row"> 
  <div class="small-12 columns">
    <hr />
    <%= link_to "Dashboard", "/" %> |
    <%= link_to 'Add a Habit', new_habit_path %> | 
    <%= link_to 'Journal', journals_path %>
    <hr />
  </div>
</div>


  <%= javascript_include_tag "application" %>
</body>
<script>
  $(document).ready(function () {

    $(".destroy_mark").click(function () {
      $(this).fadeOut(100, function() {
        $(this).fadeIn(100, function() {
          // Animation complete
        })
        // Animation complete.
      });
        var habit_id = $(this).attr("data-id");
        var mark_date = $(this).attr("data-date");
        var mark_count_div = $('[id=' + String(habit_id) + String(mark_date) + ']');
        $.ajax({
          url: "/marks/remove",
          type: "post",
          dataType: "json",
          data: {"_method":"remove", mark: {
            habit_id: $(this).attr("data-id"),
            mark_date: $(this).attr("data-date")}},
          dataType:'json',
          success:function(returned_value){
            //if(returned_value) {
              mark_count_div.fadeOut(250, function() {
                $(this).text(returned_value.habit_mark_count).fadeIn(1100, function() {
                  // Animation complete
                })
                // Animation complete.
              });
              $("." + String(mark_date) + "_total").text(returned_value.day_total);
            }
          //}
        });
    });


    $(".add_mark").click(function () {
      $(this).fadeOut(100, function() {
        $(this).fadeIn(100, function() {
          // Animation complete
        })
        // Animation complete.
      });
        var habit_id = $(this).attr("data-id");
        var mark_date = $(this).attr("data-date");
        var mark_count_div = $('[id=' + String(habit_id) + String(mark_date) + ']');
        $.ajax({
          url:'/marks',
          type:'post',
          data:{ mark: {
            habit_id: habit_id,
            mark_date: mark_date}},
          dataType:'json',
          success:function(returned_value){
            //if(returned_value) {
              mark_count_div.fadeOut(250, function() {
                $(this).text(returned_value.habit_mark_count).fadeIn(1100, function() {
                  // Animation complete
                })
                // Animation complete.
              });
            //}
              $("." + String(mark_date) + "_total").text(returned_value.day_total);
          }
        })
    });

    $(".add_measurement").focusout(function(){
      $(this).fadeOut(100, function() {
        $(this).fadeIn(100, function() {
          // Animation complete
        })
        // Animation complete.
      });
        var measured_habit_id = $(this).attr("data-id");
        var measurement_date = $(this).attr("data-date");
        var input = $(this).find("input")
        var measurement_value = input.val() ; 

        $.ajax({
          url:'/measurements',
          type:'post',
          data:{ measurement: {
            measured_habit_id: measured_habit_id,
            measurement_date: measurement_date,
            value: measurement_value}},
          dataType:'json',
          success:function(returned_value){
            input.val(returned_value.value) ;
          },
          error:function(){
            input.val("") ;
          }

        })


    });

  });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54408913-1', 'auto');
  ga('send', 'pageview');
</script>
</html>
