<!DOCTYPE html>
<html>
<head>
  <title>Activities - Start good habits. Break bad habits. Track progress. </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <li id="fat-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Account <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Profile", edit_user_registration_path %></li>
      <li><%= link_to "Settings", '#' %></li>
      <li class="divider"></li>
      <li>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      </li>
    </ul>
    </li>
    <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %></li>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>

  <p class="notice"><%= notice %></p> 
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
<script>
  $(document).ready(function () {
    $(".clueless").click(function () {
        var mark_count_div =  $(this).next("div") ;
        $.ajax({
          url:'/marks',
          type:'post',
          data:{ mark: {
            activity_id: $(this).attr("data-id"),
            mark_date: $(this).attr("data-date")}},
          dataType:'json',
          success:function(returned_value){
            if(returned_value) {
              mark_count_div.fadeOut(1100, function() {
                $(this).text(returned_value).fadeIn(1100, function() {
                  // Animation complete
                })
                // Animation complete.
              });
            }
          }
        })
    });
  });
</script>
</html>
