<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Habitabs - Start good habits. Break bad habits. Track progress. </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav data-topbar="" class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
    <h1>
      <a href="/">
        Habitabs 
      </a>
    </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>


  <section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
  <% if user_signed_in? %>
    <li class="divider"></li>
      <li><%= link_to "Profile", edit_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Settings", '#' %></li>
      <li class="divider"></li>
      <li>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      </li>
  <% else %>
    <li class="divider"></li>
    <li><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %></li>
    <li class="divider"></li>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
  </section></nav>



  <p class="notice"><%= notice %></p> 
  <p class="alert"><%= alert %></p>

<%= yield %>

  <%= javascript_include_tag "application" %>
</body>
<script>
  $(document).ready(function () {

    $(".destroy_mark").click(function () {
      $(this).fadeOut(250, function() {
        $(this).fadeIn(500, function() {
          // Animation complete
        })
        // Animation complete.
      });
        var activity_id = $(this).attr("data-id");
        var mark_date = $(this).attr("data-date");
        var mark_count_div = $('[id=' + String(activity_id) + String(mark_date) + ']');
        $.ajax({
          url: "/marks/remove",
          type: "post",
          dataType: "json",
          data: {"_method":"remove", mark: {
            activity_id: $(this).attr("data-id"),
            mark_date: $(this).attr("data-date")}},
          dataType:'html',
          success:function(returned_value){
            if(returned_value === 0){
              returned_value = "";
            }
            //if(returned_value) {
              mark_count_div.fadeOut(250, function() {
                $(this).text(returned_value).fadeIn(1100, function() {
                  // Animation complete
                })
                // Animation complete.
              });
            }
          //}
        });
    });


    $(".add_mark").click(function () {
      $(this).fadeOut(250, function() {
        $(this).fadeIn(500, function() {
          // Animation complete
        })
        // Animation complete.
      });
        var activity_id = $(this).attr("data-id");
        var mark_date = $(this).attr("data-date");
        //var mark_count_div = $("#" + String(activity_id) + String(mark_date));
        var mark_count_div = $('[id=' + String(activity_id) + String(mark_date) + ']');
        $.ajax({
          url:'/marks',
          type:'post',
          data:{ mark: {
            activity_id: activity_id,
            mark_date: mark_date}},
          dataType:'json',
          success:function(returned_value){
            //if(returned_value) {
              mark_count_div.fadeOut(250, function() {
                $(this).text(returned_value).fadeIn(1100, function() {
                  // Animation complete
                })
                // Animation complete.
              });
            //}
          }
        })
    });
  });
</script>
</html>
